In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [1]:
library(tidyverse)
library(data.table)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [2]:
#https://drive.google.com/file/d/1nhF-UPR0s9ysGo7tiy-zBL31AA6Rfu-K/view?usp=drive_link
system("gdown --id 1nhF-UPR0s9ysGo7tiy-zBL31AA6Rfu-K")
system("ls",TRUE)

[1] "Pre_Season_Batter_utf.csv" "sample_data"

In [3]:
DF <- fread("/content/Pre_Season_Batter_utf.csv",header = T, encoding = "UTF-8") %>% as_tibble()

In [ ]:
#4
show(DF)

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
library(dplyr)

In [ ]:
#5
select(DF,batter_name,team) %>% show()
#DF %>% select(batter_name,team) %>% show()
#DF %>% select(.,batter_name,team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
#6
DF1 <- select(DF,batter_name,team) #저장할 땐 %>% show()를 붙이면 show()가 변수들을 다 가져간다.
show(DF)
show(DF1)

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>
# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
#7
# show(select(DF,-batter_name,-team))
DF %>% select(-batter_name,-team) %>% show()

# A tibble: 1,393 × 27
   batter_id  year   avg     G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <dbl> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.35      7    20     1     7     1     0     1    11     5
 2         1  2011 0         4     2     2     0     0     0     0     0     1
 3         1  2014 0         4     0     2     0     0     0     0     0     0
 4         1  2015 0.13     10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0         3     4     0     0     0     0     0     0     0
 8         2  2016 0         3     1     0     0     0     0     0     0     0
 9         2  2017 1         2     1     0     1     0     0     0     1     0
10        69  2006 0.2      10    15     0     3     0     0     0     3     3
# ℹ 1,383 more rows
# ℹ 15 more variables: SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>,
#   GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>

In [ ]:
#8
# colnames(DF)[c(2,4)] <- c("이름","팀")
# show(select(DF,"이름","팀"))

DF %>% select(이름 = batter_name, 팀 = team) %>% show()

# A tibble: 1,393 × 2
   이름     팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# ℹ 1,383 more rows

In [ ]:
colnames(DF)[c(2,4)] <- c("batter_name","team")
show(DF)

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
#9
DF %>% select(name1=batter_name,name2=batter_name,name3=batter_name) %>% show()

# A tibble: 1,393 × 3
   name1    name2    name3
   <chr>    <chr>    <chr>
 1 가르시아 가르시아 가르시아
 2 강경학   강경학   강경학
 3 강경학   강경학   강경학
 4 강경학   강경학   강경학
 5 강경학   강경학   강경학
 6 강경학   강경학   강경학
 7 강구성   강구성   강구성
 8 강구성   강구성   강구성
 9 강구성   강구성   강구성
10 김태완   김태완   김태완
# ℹ 1,383 more rows

In [ ]:
#10
DF %>% filter(team == "한화") %>% select(team,batter_name) %>% unique() %>% show()

# A tibble: 33 × 2
   team  batter_name
   <chr> <chr>
 1 한화  강경학
 2 한화  김태완
 3 한화  강상원
 4 한화  신성현
 5 한화  김민수
 6 한화  김태균
 7 한화  김태연
 8 한화  김회성
 9 한화  백창수
10 한화  송광민
# ℹ 23 more rows

In [ ]:
#11 dplyr패키지를 이용하여 DF에서 team(소속팀)이 ‘한화’이고 G(출전게임수)가 5회 이상, AB
#(타수(타석-볼넷-사구-희생번트-희생플라이))가 15회 이상인 선수들의 team, batter_name,
#G, AB를 출력하세요. 단, 중복 값은 제거하고 고유한 값만을 출력하세요. (Hint) unique()

show(unique(DF %>% filter(team == "한화" & G >= 5 & AB >= 15) %>% select(team,batter_name,G,AB)))

# A tibble: 70 × 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  신성현         14    35
# ℹ 60 more rows

In [ ]:
#12 dplyr패키지를 이용하여 DF에서 team(소속팀)을 group으로 묶어 team(소속팀)별 평균 G(출
# 전게임수), 평균 AB(타수(타석-볼넷-사구-희생번트-희생플라이)), 합계 R(득점)을 출력

DF %>% group_by(team) %>% summarise(mean_G = mean(G), mean_AB = mean(AB), total_R = sum(R))

   team     mean_G    mean_AB  total_R
1  KIA       7.871212 16.84091 321
2  KT        7.631579 16.33333 143
3  LG        8.741379 20.32759 500
4  NC        8.488636 17.00000 195
5  SK        8.372781 19.88166 426
6  넥센      9.098214 19.00893 315
7  두산     10.736559 22.09677 601
8  롯데      8.210843 17.74096 424
9  삼성      8.785235 20.06040 416
10 우리      7.333333 17.33333  10
11 한화      7.755725 18.24427 335
12 현대     10.055556 25.33333  42
13 히어로즈  8.200000 15.60000   5

In [ ]:
#13 dplyr패키지를 이용하여 DF에서 team(소속팀)과 batter_name(타자 이름)을 group으로 묶어
# 소속팀의 타자별 평균 G(출전게임수), 평균 AB(타수(타석-볼넷-사구-희생번트-희생플라
# 이)), 합계 R(득점)을 출력하세요
DF %>% group_by(team,batter_name) %>% summarise(mean_G = mean(G),mean_AB=mean(AB),total_R=sum(R))
#na.rm=T

`summarise()` has grouped output by 'team'. You can override using the
`.groups` argument.

    team     batter_name mean_G    mean_AB   total_R
1   KIA      강한울       7.500000 19.500000  7
2   KIA      김민식       7.500000 12.000000  3
3   KIA      김선빈      10.000000 22.333333 29
4   KIA      김주찬       8.000000 19.000000 15
5   KIA      김주형       7.727273 17.545455 21
6   KIA      나지완       9.900000 27.700000 39
7   KIA      노수광       2.500000  3.000000  0
8   KIA      박준태      12.000000 18.500000  7
9   KIA      백용환       6.600000 11.800000  7
10  KIA      버나디나     6.500000 17.500000  7
11  KIA      서동욱       6.333333 10.166667  9
12  KIA      신범수       5.500000  9.500000  2
13  KIA      신종길       8.833333 21.833333 24
14  KIA      안치홍       8.375000 24.625000 22
15  KIA      유민상       2.000000  3.000000  0
16  KIA      유재신       5.000000  3.000000  2
17  KIA      윤정우      12.500000 19.000000  8
18  KIA      이대형      11.000000 28.000000 11
19  KIA      이명기       7.500000 21.500000  5
20  KIA      이범호       7.000000 15.500000 12
21  KIA      이성우       7.571429  9.142857  9
22  KIA      이영욱       5.000000  7.000000  3
23  KIA      이용규       7.555556 24.888889 27
24  KIA      이인행       9.000000 15.000000  2
25  KIA      이준호       7.000000  7.750000  6
26  KIA      이호신       9.200000  9.200000 11
27  KIA      정성훈       8.500000 18.500000  7
28  KIA      최원준       6.000000 13.000000  5
29  KIA      최형우       5.500000 14.000000  6
30  KIA      한승택       5.666667  6.000000  2
⋮   ⋮        ⋮           ⋮         ⋮         ⋮
307 한화     오선진       7.000000 12.222222 12
308 한화     이대수       9.500000 24.500000 14
309 한화     이동훈       6.666667  4.000000  8
310 한화     이범호       9.625000 29.000000 38
311 한화     이성열       8.750000 20.250000 11
312 한화     이용규       7.500000 22.000000 16
313 한화     이준수       2.000000  0.500000  0
314 한화     장민석      12.000000 37.000000 12
315 한화     장진혁       3.000000  2.000000  0
316 한화     정경운       6.000000  7.000000  1
317 한화     정근우       9.000000 28.666667  9
318 한화     정범모       6.000000  8.000000  4
319 한화     지성준       8.000000 17.000000  4
320 한화     최윤석       5.333333  7.666667  3
321 한화     최재훈       8.000000 15.000000  6
322 한화     최진행       8.153846 22.230769 28
323 한화     하주석       6.200000 14.800000  9
324 한화     한승택      10.000000 15.000000  0
325 한화     허도환       7.500000 10.000000  3
326 한화     호잉         6.000000 16.000000  3
327 현대     유한준      11.000000 26.666667  6
328 현대     이택근      10.600000 24.400000 11
329 현대     정성훈      11.600000 38.000000 17
330 현대     조평호      10.000000 15.000000  0
331 현대     지석훈       6.750000 12.250000  8
332 히어로즈 오재일      12.000000 33.000000  1
333 히어로즈 유재신       8.000000  4.000000  0
334 히어로즈 이택근       1.000000  3.000000  0
335 히어로즈 장영석       9.000000  7.000000  0
336 히어로즈 황재균      11.000000 31.000000  4

In [ ]:
#14 dplyr패키지를 이용하여 DF를 team(소속팀)은 오름차순으로, avg(타율)은 내림차순을 기준
# 으로 정렬하여 team(소속팀), batter_name(타자 이름), avg(타율)만 출력하세요.

DF %>% arrange(team,desc(avg))  %>% select(team,batter_name,avg)

     team     batter_name avg
1    KIA      서동욱      1.000
2    KIA      이용규      1.000
3    KIA      강한울      0.600
4    KIA      백용환      0.600
5    KIA      이호신      0.500
6    KIA      신종길      0.500
7    KIA      안치홍      0.500
8    KIA      이준호      0.500
9    KIA      최형우      0.500
10   KIA      신범수      0.471
11   KIA      김주형      0.457
12   KIA      나지완      0.455
13   KIA      홍재호      0.438
14   KIA      김주찬      0.429
15   KIA      나지완      0.429
16   KIA      이영욱      0.429
17   KIA      안치홍      0.417
18   KIA      신종길      0.414
19   KIA      서동욱      0.400
20   KIA      이성우      0.400
21   KIA      이성우      0.400
22   KIA      이성우      0.400
23   KIA      김선빈      0.393
24   KIA      이범호      0.391
25   KIA      김선빈      0.389
26   KIA      김선빈      0.385
27   KIA      안치홍      0.385
28   KIA      이호신      0.375
29   KIA      김민식      0.357
30   KIA      김선빈      0.357
⋮    ⋮        ⋮           ⋮
1364 한화     이준수      0.000
1365 한화     장진혁      0.000
1366 한화     정범모      0.000
1367 한화     정범모      0.000
1368 한화     정범모      0.000
1369 한화     최윤석      0.000
1370 한화     최진행      0.000
1371 현대     정성훈      0.311
1372 현대     정성훈      0.303
1373 현대     정성훈      0.290
1374 현대     이택근      0.273
1375 현대     유한준      0.262
1376 현대     지석훈      0.231
1377 현대     유한준      0.227
1378 현대     이택근      0.227
1379 현대     지석훈      0.222
1380 현대     정성훈      0.216
1381 현대     조평호      0.200
1382 현대     이택근      0.194
1383 현대     이택근      0.192
1384 현대     이택근      0.188
1385 현대     지석훈      0.176
1386 현대     유한준      0.125
1387 현대     정성훈      0.068
1388 현대     지석훈      0.000
1389 히어로즈 이택근      0.333
1390 히어로즈 유재신      0.250
1391 히어로즈 오재일      0.242
1392 히어로즈 황재균      0.194
1393 히어로즈 장영석      0.000

In [ ]:
#15 DF에 존재하는 team(소속팀)을 중복 없이 오름차순으로 정렬하여 출력하세요.

DF %>% select(team) %>% unique() %>% arrange(team) %>% show()

# A tibble: 13 × 1
   team
   <chr>
 1 KIA
 2 KT
 3 LG
 4 NC
 5 SK
 6 넥센
 7 두산
 8 롯데
 9 삼성
10 우리
11 한화
12 현대
13 히어로즈

In [ ]:
#16 DF에서 team(소속팀)이 ‘히어로즈’인 선수들의 batter_name(타자 이름)과
# avg(타율)을 avg(타율)이 높은 순으로 중복 없이 정렬하여 출력하세요.

DF %>% filter(team == "히어로즈") %>% select(batter_name,avg) %>% unique() %>% arrange(desc(avg)) %>%show()

# A tibble: 5 × 2
  batter_name   avg
  <chr>       <dbl>
1 이택근      0.333
2 유재신      0.25
3 오재일      0.242
4 황재균      0.194
5 장영석      0

In [ ]:
#17 DF에서 batter_id(타자의 고유 아이디)는 ‘ID’, batter_name(타자 이
# 름)은 ‘이름’, year(년도)는 ‘년도’라는 이름으로 변경하여 DF1에 저장한 후
# DF1과 DF를 출력 해 비교하세요.
DF1 <- DF %>% select(ID = batter_id,이름=batter_name,년도=year)
show(DF1)
show(DF)

# A tibble: 1,393 × 3
      ID 이름      년도
   <int> <chr>    <int>
 1     0 가르시아  2018
 2     1 강경학    2011
 3     1 강경학    2014
 4     1 강경학    2015
 5     1 강경학    2016
 6     1 강경학    2017
 7     2 강구성    2013
 8     2 강구성    2016
 9     2 강구성    2017
10    69 김태완    2006
# ℹ 1,383 more rows
# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
#18 DF에서 batter_id(타자의 고유 아이디)를 batter_id(타자의 고유 아이디)
# +100으로 변경하여 DF1에 저장한 후 DF1과 DF를 출력하여 비교하세요.

DF1 <- DF %>% mutate(batter_id = batter_id + 100)
show(DF1)
show(DF)

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <dbl> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       100 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2       101 강경학       2011 한화  0         4     2     2     0     0     0
 3       101 강경학       2014 한화  0         4     0     2     0     0     0
 4       101 강경학       2015 한화  0.13     10    23     3     3     0     0
 5       101 강경학       2016 한화  0.188    14    32     4     6     1     1
 6       101 강경학       2017 한화  0.222    11    36    10     8     0     0
 7       102 강구성       2013 NC    0         3     4     0     0     0     0
 8       102 강구성       2016 NC    0         3     1     0     0     0     0
 9       102 강구성       2017 NC    1         2     1     0     1     0     0
10       169 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>
# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
#19

In [ ]:
#20 DF에 경기 당(G) 득점(R)에 해당하는 G_R 열을 생성한 후 batter_name(타자 이름)과 G(출전게임수),
# R(득점), G_R(경기당 득점)에 해당하는 열만 출 력하세요.
DF %>% mutate(G_R=R/G) %>% select(batter_name,G,R,G_R) %>% show()

# A tibble: 1,393 × 4
   batter_name     G     R   G_R
   <chr>       <int> <int> <dbl>
 1 가르시아        7     1 0.143
 2 강경학          4     2 0.5
 3 강경학          4     2 0.5
 4 강경학         10     3 0.3
 5 강경학         14     4 0.286
 6 강경학         11    10 0.909
 7 강구성          3     0 0
 8 강구성          3     0 0
 9 강구성          2     0 0
10 김태완         10     0 0
# ℹ 1,383 more rows

In [5]:
#21 DF에서 비복원 추출 방식으로 30개의 샘플을 추출해 train_set에
# 장하고 출력하세요. (Hint) sample_n(), replace=F 비복원추출

train_set <- sample_n(DF,30,replace=F)
train_set %>% show()

# A tibble: 30 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1        62 김주찬       2009 롯데  0.27     11    37     5    10     1     0
 2       282 정훈         2011 롯데  0        12     5     2     0     0     0
 3       220 이원석       2011 두산  0         2     1     0     0     0     0
 4        41 김상수       2011 삼성  0.261    10    23     3     6     1     1
 5       324 하주석       2016 한화  0.286     6    21     1     6     1     0
 6       190 유재신       2015 넥센  0         6     1     2     0     0     0
 7       270 정성훈       2013 LG    0.161    11    31     2     5     1     0
 8        96 류지혁       2017 두산  0.29     12    31     4     9     1     2
 9         3 강민국       2014 NC    0         2     1     0     0     0     0
10        38 김민식       2018 KIA   0.2       5    10     0     2     1     0
# ℹ 20 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [6]:
#22 DF에서 비복원 추출 방식으로 70%의 샘플을 추출해 train_set에
# 장하고 출력하세요. (Hint) sample_frac()

train_set <- sample_frac(DF,0.7)
train_set %>% show()

# A tibble: 975 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       234 이진영       2011 LG    0.16     11    25     2     4     1     0
 2       258 장진혁       2018 한화  0         3     2     0     0     0     0
 3        79 나성범       2018 NC    0.294     6    17     2     5     1     0
 4        41 김상수       2014 삼성  0.393    10    28     2    11     2     0
 5       103 민병헌       2014 두산  0.235    10    34     5     8     1     0
 6       169 안치홍       2012 KIA   0.385    11    39     4    15     3     0
 7       341 황윤호       2015 NC    0         2     0     0     0     0     0
 8       274 정의윤       2008 LG    0.077    10    26     2     2     1     0
 9       211 이성열       2017 한화  0.118     8    17     0     2     1     0
10       216 이영욱       2010 삼성  0.344    11    32    10    11     2     0
# ℹ 965 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [7]:
# 23  DF에서 위 문제에서 구한 train_set을 제외한 샘플을 추출하여
# test_set에 저장하고 출력하세요. (Hint) setdiff()

test_set <- setdiff(DF,train_set)
test_set %>% show()

# A tibble: 418 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 2         2 강구성       2013 NC    0         3     4     0     0     0     0
 3        69 김태완       2009 한화  0.32     10    25     5     8     3     0
 4        69 김태완       2018 넥센  0.375     5     8     2     3     1     0
 5         4 강민호       2008 롯데  0.2       5    10     0     2     1     0
 6         4 강민호       2010 롯데  0.261    10    23     8     6     1     0
 7         4 강민호       2013 롯데  0.333     6    15     2     5     1     0
 8         4 강민호       2018 삼성  0.3       4    10     3     3     1     0
 9         5 강백호       2018 KT    0.333     6    18     2     6     1     0
10         9 강승호       2013 LG    0.25      7    12     2     3     2     0
# ℹ 408 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>